.form {
	border: 1px solid white;
}

.form__item {

}

.form__label {

}

.form__field {
	border: 1px solid var(--primary);
	border-radius: 4px;
	padding: 3px 6px;
	font: var(--caption);
}

.form__btn {
}

.form__btn--google {
}